<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="fitnesscreatorplugin.action.fit"
        label="Linedata FitNesse" style="push">
        
      </command>
       
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="com.linedata.ekip.fitnesscreatorplugin.std.entrypoint.EntryPoint"
      id="fitnesscreatorplugin.action.fit" name="tables">
    </command>
    
  </extension>

</plugin>